body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  padding: 20px;
}

.post {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
}

button {
  margin-top: 5px;
}
